html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
.main {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

.menu {
    height: 5rem;
    padding: 10px;
    background-color: rgb(54, 158, 255);
    width: 100%;
}
.menu button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
    // margin-top: 0.5rem;
    height: 4rem;
    margin-right: 15px;
  }
  
  .menu button:hover {
    background-color: #ddd;
  }

.content {
  flex: 1; 
  padding: 2rem;
}
.header {
  width: 100%;
  height: 25rem;
  background-image: url("header.png");
  background-size: cover;
  background-attachment: fixed;
}

