<div class="home">
  <h1>{{ title() }}</h1>
  <p>To jest strona startowa Twojej aplikacji Angular.</p>

  <h2>Lista restauracji:</h2>
  <div>

    <!-- Wywołanie metody szukającej restauracji -->
    <button pButton icon="pi pi-search" label="Szukaj restauracji" (click)="getRestaurant()">
    </button>

    <!-- Zmiana zmiennej addingDialog na true powoduje otwarcie dialogu dodawania restauracji -->
    <button pButton icon="pi pi-search" label="Dodaj restauracje" (click)="addingDialog = true">
    </button>


  </div>
  <ul>
    <div *ngFor="let restaurant of restaurant" class="restaurant-card">
      <div class="restaurants-list">
        
          <div class="restaurant-header">
            <h3>{{ restaurant.nazwa }}</h3>
          </div>

          <div class="restaurant-details">
            <p class="address">
              <i class="pi pi-map-marker"></i>
              {{ restaurant.adres }}
            </p>

            <p class="phone" *ngIf="restaurant.nr_kontaktowy">
              <i class="pi pi-phone"></i>
              {{ restaurant.nr_kontaktowy }}
            </p>

            <p class="email" *ngIf="restaurant.email">
              <i class="pi pi-envelope"></i>
              {{ restaurant.email }}
            </p>

            <!-- Zdjęcie jeśli istnieje -->
            <div class="image" *ngIf="restaurant.zdjecie">
              <img [src]="restaurant.zdjecie" [alt]="restaurant.nazwa" class="restaurant-image">
            </div>
          </div>

          <div class="restaurant-actions">

            <button pButton icon="pi pi-pencil" label="Edytuj" class="p-button-sm p-button-warning"
              (click)="openEditDialog(restaurant)">
            </button>
          </div>
      </div>

      <strong>{{ restaurant.nazwa }}</strong> - {{ restaurant.adres }} (Nr kontaktowy: {{ restaurant.nr_kontaktowy
      }})(email: {{ restaurant.email }})

    </div>
  </ul>
</div>

<!-- Dialog dodawania restauracji, którego widocznosć jest zależna od zmiennej addingDialog -->
<p-dialog [(visible)]="addingDialog" [header]="'Dodawanie restauracji'" [modal]="true" [styleClass]="'my-dialog'">
  <ng-template pTemplate="content">
    <div class="field">

      <div class="field">
        <h4>Dane restauracji</h4>
        <div class="field">
          <label for="name">Nazwa</label>
          <input type="text" pInputText id="name" [(ngModel)]="newRestaurant.nazwa" name="name" />
          <!-- ngModel odpowiada za dwukierunkowe wiązanie danych między modelem a widokiem tak, że w momencie wpisania nazwy restauracji w pole input, wartość ta jest automatycznie przypisywana do właściwości newRestaurant.name w komponencie Angular. -->
        </div>
        <div class="field">
          <label>adres</label>
          <input type="text" pInputText [(ngModel)]="newRestaurant.adres" name="address" />
        </div>
        <div class="field">
          <label>nr kontaktowy</label>
          <input type="number" pInputNumber [(ngModel)]="newRestaurant.nr_kontaktowy" name="kontaktowy" />
        </div>
        <div class="field">
          <label>email</label>
          <input type="text" pInputText [(ngModel)]="newRestaurant.email" name="email" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton label="Anuluj" (click)="addingDialog = false"></button>
    <button pButton label="Zapisz" (click)="saveRestaurant()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="editingDialog" [header]="'Edytowanie restauracji'" [modal]="true" [styleClass]="'my-dialog'">
  <ng-template pTemplate="content">
    <div class="field">
      <h4>Edytuj dane restauracji</h4>

      <div class="field">
        <label>Nazwa</label>
        <input type="text" pInputText [(ngModel)]="editedRestaurant.nazwa" />
      </div>

      <div class="field">
        <label>Adres</label>
        <input type="text" pInputText [(ngModel)]="editedRestaurant.adres" />
      </div>

      <div class="field">
        <label>Nr kontaktowy</label>
        <input type="number" pInputNumber [(ngModel)]="editedRestaurant.nr_kontaktowy" />
      </div>

      <div class="field">
        <label>Email</label>
        <input type="text" pInputText [(ngModel)]="editedRestaurant.email" />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton label="Anuluj" (click)="editingDialog = false"></button>
    <button pButton label="Zapisz" (click)="updateRestaurant()"></button>
  </ng-template>
</p-dialog>