// src/app/components/film/film.component.scss
.container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #3f51b5;
}

table {
  width: 100%;
  margin-top: 1rem;
}

.mat-column-data {
  width: 220px;
}

.mat-column-godzina_rozpoczecia {
  width: 100px;
  font-weight: bold;
  color: #e91e63;
}

.mat-column-tytul_filmu {
  font-size: 1.1em;
}

.mat-column-akcja {
  width: 130px;
  text-align: right;
}

tr.mat-row {
  height: 60px;
}

mat-spinner {
  margin: 100px auto;
}