/* PrimeIcons font-face */
@font-face {
  font-family: 'PrimeIcons';
  src: url('/assets/fonts/primeicons.eot');
  src: url('/assets/fonts/primeicons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/primeicons.woff2') format('woff2'),
       url('/assets/fonts/primeicons.woff') format('woff'),
       url('/assets/fonts/primeicons.ttf') format('truetype'),
       url('/assets/fonts/primeicons.svg#primeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
