





@use '@angular/material' as mat;


$bg-dark: #0f0f1a;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  
  
  background-color: $bg-dark !important;
  height: 100%;
  width: 100%;
}

body {
  
  color-scheme: dark;
  
  
  background-color: $bg-dark !important;
  color: #fff; 

  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}





.p-dialog {
  background-color: #fff !important;
  border-radius: 8px !important;
  
  color: #333; 
}

.p-dialog-content {
  background-color: #fff !important;
  padding: 1.5rem !important;
}

.my-dialog .p-dialog-footer {
  background-color: #f7f7f7 !important;
  text-align: center !important;
  padding: 1rem !important;
}

.my-dialog .p-dialog-header {
  background-color: #007ad9 !important;
  color: #fff !important;
  font-size: 1.2rem;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
